header {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    position: sticky;
    top: 0;
    /* height:180px; */
    /* top:-60px; */
    transform-origin: top;
    transform: scaleY(1);
    transition: transform .3s ease-in-out;
    z-index:999;
    background: white;
}

.header-outer {
    /* background: white;
    padding-top:60px;
    display: flex;
    position:sticky;
    height:180px;
    top:-60px;
    transform-origin: top;
    transform: scaleY(1);
    transition: transform .3s ease-in-out;
    z-index:999;
    padding: 0px 16px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 120px;
    width: 100%;
    top: 0;
}

.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 120px;
    width: 100%;
    top: 0;
}

.logo {
    /*   max-width: 288px; */
    height: 100%  ;
    width:200px;
    background: url("../assets/Gagarin-logo-final.svg") center center no-repeat;
}

.logo h1 {
    visibility: hidden;
}

nav.nav-bar.desktop {
    display: none;
}

div.login {
    display: none;
}
/* 
.login a::after {
  content: "";
  background: url('http://localhost:3000/login.png') top left no-repeat;
  display: table;
  width: 30px!important;
  height: 30px!important;
}

.loginImage img {
  width: 30px;
  height: 30px;
}

/* mobile menu */

nav.nav-bar.mobile {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    z-index: 99;
    position: relative;
}
  
#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
  
#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    /* margin-top: -52px; */
}
  
#menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform cubic-bezier(0.1, 0.91, 0.59, 0.83), background 1s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 1s ease;
}
  
#menuToggle span:first-child {
    transform-origin: 0% 0%;
}
  
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
  
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: black;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
  
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}
  
#mobile-menu {
/*     display: none;
    position: absolute;
    width: 80vw;
    height: 100vh;
    box-shadow: 0 0 10px #85888c;
    margin: -110px 0 0 10vw;
    padding: 0 0 0 40px;
    padding-top: 165px;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    transform-origin: 100% 0%;
    transform: translate(100%, 0);
    transition: all 1s; */
    display: none;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 10px #85888c;
    background-color: #fff;
    padding: 165px 0 0 0;
    transition: all 0.5s;
}

#mobile-menu li {
    padding: 10px 0;
    transition-delay: 2s;
}
  
#menuToggle input:checked ~ ul {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    left: -93vw;
    transition: all 0.5s;
}
/* end of mobile menu */

a.nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  margin: 10px 35px;
  padding: 3px
}

a.nav-link,
.login a {
    position: relative;
}

a.nav-link::before,
.login a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a.nav-link:hover::before,
.login a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


@media screen and (min-width: 1024px) {
    .carousel {
        position: relative;
        padding-top: 800px;
        perspective: 100px;
    }

    .show-image {
        width: 265px;
        height: 61px;
    }

    nav.nav-bar.mobile {
        display: none;
    }

    nav.nav-bar.desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        z-index: 99;
        position: relative;
        margin: 0 auto;
    }

    nav.nav-bar.desktop ul {
        display: contents;
    }

    div.login {
        display: flex;
        line-height: 31px;
        /* margin-top: 28px; */
    }

    .login a {
        font-family: 'Poppins' sans-serif;
        font-weight: 400;
        font-size: 18px;
    }

   .login i {
        font-size: 27px;
        margin-right: 10px;
    }
}